<div class="page-header">
  <h3>Reply #<%= @reply.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd>
        <% if @reply.review.present? %>
          <a href="/reviews/<%= @reply.review_id %>">
            <%= @reply.review.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Ownership</dt>
      <dd>
        <% if @reply.ownership.present? %>
          <a href="/ownerships/<%= @reply.ownership_id %>">
            <%= @reply.ownership.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Content</dt>
      <dd><%= @reply.content %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/replies" class="btn btn-primary">
        Back
      </a>
      <a href="/replies/<%= @reply.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_reply/<%= @reply.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
